{% extends 'base.html' %}
{% block base %}
<h1>StudentHome</h1>
<table class="table table-dark">
    <thead>
        <tr>
            <th>NAME</th>
            <th>DATE OF BIRTH</th>
            <th>STUDENT CLASS</th>
            <th>YEAR</th>
            <th>PICTURE</th>
        </tr>
    </thead>
    <tbody>
        {% for i in slist %}
        <tr>
            <td>{{i.name}}</td>
            <td>{{i.dob}}</td>
            <td>{{i.studentclass}}</td>
            <td>{{i.year}}</td>
            <td>{{i.year}}</td>
            <td></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{%endblock base %}





<table class="table table-dark">
      <thead>
        <tr>
          <th>ID</th>
          <th>Title</th>
          <th>Description</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for i in todos %}
        <tr>
          <td>{{i.id}}</td>
          <td>{{i.title}}</td>
          <td>{{i.description}}</td>
          <td>
            <a href="{% url 'edittodo' i.id %}" class="btn btn-warning me-2">Edit</a>
            <a href="{% url 'deltodo' i.id %}" class="btn btn-success me-2">Delete</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>